set blink-matching-paren On
set colored-completion-prefix On
set colored-stats On
set completion-ignore-case On
set mark-modified-lines On
set mark-symlinked-directories On
set show-all-if-ambiguous On

"\C-p": history-search-backward
"\C-n": history-search-forward
"\t": menu-complete
"\e[Z": menu-complete-backward
